FILESYSTEM_DISK=s3

AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin123
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=condominios-dev
AWS_ENDPOINT=http://localhost:9100
AWS_URL=http://localhost:9100/condominios-dev
AWS_USE_PATH_STYLE_ENDPOINT=true
